.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 400px;
    height: 400px;
}

.button {
    background-color: pink;
    height: 100px;
    width: 100px;
}